.container {
    color: #bb5e3b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 100px);
    text-align: center;
    scroll-snap-align: center;
    box-sizing: border-box;
}