.container {
    color: #bb5e3b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    scroll-snap-align: center;
}